<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="domain"/>
		<package name="api"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="mapper.handler.RecomContentTypeHandler"/>
	</typeHandlers>
	<mappers>
		<!-- <mapper class="mapper.ReviewMapper"></mapper>
        <mapper class="mapper.MemberMapper"></mapper> -->
		<package name="mapper"/>
	</mappers>
</configuration>