<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper.AttachMapper">
 	
 	<!-- 단일 댓글 조회 -->
 	<select id="selectOne" resultType="attach">
 		select * from tbl_attach where uuid = #{uuid}
 	</select>
 	
 	<!-- 첨부파일 등록  -->
 	<insert id="insert" parameterType="Attach" useGeneratedKeys="true" keyProperty="ano">
 		insert into tbl_attach (uuid, origin, path, image, odr, size) values (#{uuid}, #{origin}, #{path}, #{image}, #{odr}, #{size})
 		<!--<selectKey order="AFTER" keyProperty="ano" resultType="long">
 		select max(ano) from tbl_attach
 		</selectKey>-->
 	</insert>
 	
 	<!-- 첨부파일 삭제  -->
 	<delete id="delete">
 		delete from tbl_attach where ano = #{ano}
 	</delete>
 	<select id="selectYesterdayList" resultType="attach">
 		select * from tbl_attach ta where path = DATE_FORMAT(DATE_SUB(now(), INTERVAL 1 DAY), '%Y/%m/%d')
 	</select>
 </mapper>