<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.AttractionMapper">
	<resultMap id="a" type="attraction">
		<id property="postSn" column="post_sn"/>
		<result property="langCodeId" column="lang_code_id"/>
		<result property="postSj" column="post_sj"/>
		<result property="postUrl" column="post_url"/>
		<result property="address" column="address"/>
		<result property="newAddress" column="new_address"/>
		<result property="cmmnTelNo" column="cmmn_tel_no"/>
		<result property="cmmnFax" column="cmmn_fax"/>
		<result property="cmmnHmpgUrl" column="cmmn_hmpg_url"/>
		<result property="cmmnUseTime" column="cmmn_use_time"/>
		<result property="cmmnBsnde" column="cmmn_bsnde"/>
		<result property="cmmnRstde" column="cmmn_rstde"/>
		<result property="subwayInfo" column="subway_info"/>
		<result property="tag" column="tag"/>
		<result property="bfDesc" column="bf_desc"/>
		<result property="recomNo" column="recom_no"/>
		<result property="mapx" column="mapx"/>
		<result property="mapy" column="mapy"/>
	</resultMap>

	<sql id="cri">
		<where>
			recom_no is null and lang_code_id = 'ko'
			<if test="types != null">
				<foreach collection="types" item="t" open="and (" close=")" separator="or">
					<choose>
						<when test="t eq 'T'.toString()">
						post_sj like concat('%', #{keyword}, '%')
						</when>
					</choose>
				</foreach>
			</if>
		</where>
	</sql>
	<sql id="cri2">
		<where>
			recom_no is not null and lang_code_id = 'ko'
			<if test="types != null">
				<foreach collection="types" item="t" open="and (" close=")" separator="or">
					<choose>
						<when test="t eq 'T'.toString()">
							post_sj like concat('%', #{keyword}, '%')
						</when>
					</choose>
				</foreach>
			</if>
		</where>
	</sql>
	<select id ="list" resultMap="a">
		select * from tbl_attraction
		<include refid="cri"/>
		order by 1 desc 
		limit #{amount} offset #{offset}
	</select> 
  	<insert id="insert" >
  		insert into tbl_attraction (post_sn, lang_code_id, post_sj, post_url, address, new_address, cmmn_tel_no, cmmn_fax, cmmn_hmpg_url
  		, cmmn_use_time, cmmn_bsnde, cmmn_rstde, subway_info, tag, bf_desc)
  		values (#{postSn}, #{langCodeId}, #{postSj}, #{postUrl}, #{address}, #{newAddress}, #{cmmnTelNo}, #{cmmnFax}, #{cmmnHmpgUrl},
  		#{cmmnUseTime}, #{cmmnBsnde}, #{cmmnRstde}, #{subwayInfo}, #{tag}, #{bfDesc})
  	</insert>
  	<select id="getCount" resultType="long">
		select count(*) from tbl_attraction 
		<include refid="cri"/>
	</select>
	<select id="selectOne" resultMap="a">
		select * from tbl_attraction 
		where recom_no = #{recomNo}
	</select>
	<select id="selectOneByPk" resultMap="a">
		select * from tbl_attraction
		where post_Sn = #{postSn}
	</select>
	<select id ="getRecomList" resultMap="a">
		select * from tbl_attraction
		<include refid="cri2"/>
		order by 1 desc
		limit #{amount} offset #{offset}
	</select>
	<select id="getRecomCount" resultType="long">
		select count(*) from tbl_attraction
		<include refid="cri2"/>
	</select>
</mapper>