<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.MissionMapper">
	<resultMap type="mission" id="m">
		 <id property="missionNo" column="mission_no"/>
		  <result property="title" column="title"/>
		  <result property="summary" column="summary"/>
		  <result property="content" column="content"/>
		  <result property="regDatetime" column="regdatetime"/>
		  <result property="modDatetime" column="moddatetime"/>
		  <result property="providedTicket" column="provided_ticket"/>
		  <result property="createdBy" column="created_by"/>
		  <result property="stationId" column="station_id"/>
		  <result property="placeId" column="place_id"/>
		  <result property="recomNo" column="recom_no"/>
	</resultMap>
	<sql id="cri">
		<where>
			<trim prefixOverrides="AND | OR">
			and contenttype = #{type}
			<if test="criteria.types != null">
				<foreach collection="criteria.types" item="t" open="and (" close=")" separator="or">
					<choose>
						<when test="t eq 'T'.toString()">
						title like concat('%', #{criteria.keyword}, '%')
						</when>
						<when test="t eq 'C'.toString()">
						summary like concat('%', #{criteria.keyword}, '%')
						</when>
						<when test="t eq 'I'.toString()">
						created_by like concat('%', #{criteria.keyword}, '%')
						</when>
					</choose>
				</foreach>
			</if>
			</trim>
		</where>
	</sql>
	<select id="list" resultMap="m">
		select * from (
		select m.*, trp.recom_contenttype as contenttype
		from tbl_mission m 
		LEFT JOIN tbl_recommend_place trp 
		ON m.recom_no = trp.recom_no 
		) a
		<include refid="cri"/>
		order by 1 desc 
		limit #{criteria.amount} offset #{criteria.offset}
	</select>
	
  	<select id="getCount" resultType="long">
		select count(*) from (
		select m.*, trp.recom_contenttype as contenttype
		from tbl_mission m 
		LEFT JOIN tbl_recommend_place trp 
		ON m.recom_no = trp.recom_no 
		) a
		<include refid="cri"/>
	</select>
	<select id="selectOne" resultMap="m">
		select * from tbl_mission where mission_no = #{missionNo}
	</select>

	<select id="selectOneByRecomNo" resultMap="m">
		select * from tbl_mission where recom_no = #{recomNo}
	</select>

	<insert id="insert">
		INSERT INTO tbl_mission (title, summary, content, provided_ticket, created_by, recom_no )
		VALUES ( #{title}, #{summary}, #{content}, #{providedTicket}, #{createdBy} ,#{recomNo})
	</insert>
	<delete id="delete">
		delete from tbl_mission where mission_no = #{missionNo}
	</delete>
	<update id="removeRecomNo">
		update tbl_mission tm
		set tm.recom_no = null
		where tm.mission_no = #{missionNo}
	</update>

	<update id="update">
		update tbl_mission tm
		set
		title = #{title},
		summary = #{summary},
		content = #{content},
		provided_ticket = #{providedTicket},
		moddatetime = now()
		where tm.mission_no = #{missionNo}
	</update>

  </mapper>